/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /*     outline: 1px solid red; */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Lora", serif;
  font-family: "Playfair Display", serif;
}

/* -- Content Container -- */
.container {
  max-width: 1280px;
  position: relative;
  margin: auto;
}

@media (min-width: 1279px) {
  .container {
    width: 1280px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0% 2% 0%;
  }
  .logo-name {
    /* overflow: visible; */
    font-size: 24px;
  }
  .nav .home,
  .nav .workspace,
  .nav .services,
  .nav .event,
  .nav .reviews,
  .nav .contact-us {
    line-height: 24px;
    margin: 0px 0.4px 0px 8px;
  }
  .auth .login,
  .auth .sign-up {
    font-size: 10px;
  }

  .auth .sign-up {
    padding: 12px 20px;
    margin: 0% 8% 0% 0%;
  }
}
/* default */
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4% 10% 0%;
  justify-content: space-between;
}
.header-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-name {
  /* overflow: hidden; */
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #10375c;
  line-height: 32px;
  /* font-size: 34px; */
}
.auth .login,
.auth .sign-up {
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
}
.auth .login {
  color: #ff5722;
  background-color: inherit;
}
.header-left {
  display: flex;
  justify-content: space-between;
}

.auth .sign-up {
  color: #fff;
  background: #ff5722;
  box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.nav .home,
.nav .workspace,
.nav .services,
.nav .event,
.nav .reviews,
.nav .contact-us {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  line-height: 24px;
  color: #222831;
  /* margin: 0px 15px 0px 10px; */
}
@media (min-width: 720px) {
  .logo-name {
    overflow: hidden;
    font-size: 34px;
    line-height: 32px;
  }
  .nav .home,
  .nav .workspace,
  .nav .services,
  .nav .reviews,
  .nav .event,
  .nav .contact-us {
    line-height: 28px;
    margin: 0px 15px 0px 10px;
  }
  .auth .sign-up {
    padding: 12px 24px;
  }
}
.row {
  display: flex;
}
.row .left,
.row .right {
  width: 50%;
}
.row .left {
  margin-right: 15px;
}
.row .right {
  margin-left: 15px;
}

.valign-container {
  display: table;
  height: 100%;
  width: 100%;
}
.valign-container .valign-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.section-hero {
  position: relative;
  padding-top: 40px;
  width: 100%;
}

.section-intro {
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}

.intro-title {
  visibility: hidden;
  display: flex;
  margin-left: 20px;
  margin-top: 2px;
}

.intro-title::before {
  content: "";
  visibility: visible;
  display: flex;
  height: 2px;
  width: 73px;
  top: 177px;
  background-color: #222831;
  margin: auto;
}

@media (max-width: 480px) {
  .section-hero {
    display: block;
    width: 100%;
    margin: 2% 0% 0% 5%;
  }
  .section-revolution .row .left,
  .section-revolution .row .right {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    width: 100%;
  }

  .section-revolution .left .valign-wrapper h2 {
    font-family: "Lora", serif;
    font-style: normal;
    /* text-align: center; */
    font-size: 50px;
    color: #10375c;
  }

  .section-revolution .left .valign-wrapper h2 span {
    color: #dd2c00;
  }

  .section-revolution .right .valign-wrapper p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #6a6a6a;
    /* text-align: justify; */
  }
}
@media (min-width: 720px) {
  .section-revolution {
    display: flex;
    width: 100%;
  }

  .section-revolution .row {
    display: flex;
    align-items: center;
  }

  .section-revolution .left .valign-wrapper h2 {
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 67px;
    color: #10375c;
  }

  .section-revolution .left .valign-wrapper h2 span {
    color: #dd2c00;
  }

  .section-revolution .right .valign-wrapper p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #6a6a6a;
  }
}

@media (max-width: 480px) {
  .section-space {
    position: relative;
    display: block;
  }
  .space-img img {
    visibility: hidden;
  }
}
.section-space {
  position: relative;
  padding-top: 10px;
  display: flex;
}
.section-space .row .left {
  width: 100%;
}
.find-space {
  padding-top: 50px;
}
.find-space .valign-container {
  padding: 40px;
  background: #10375c;
}

.find-space .valign-container p {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #ffffff;
}

.find-space .valign-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.space-img img {
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.space-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 2%;
  background: #0d2c4a;
}

.space-selection label,
.space-selection select,
.space-selection input {
  border: none;
  outline: none;
  color: #fff;
  margin-left: 20px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-color: inherit;
}
.space-selection label {
  margin-left: 20px;
  opacity: 0.35;
}

.office-select {
  display: flex;
  flex-direction: column;
}

.date-select {
  display: flex;
  flex-direction: column;
}

.submit-yourspace {
  display: inline-flex;
  margin-top: 10px;
  justify-content: center;
  padding: 15px 27px 15px;
  background: #ff5722;
  color: #ffffff;
}

.submit-yourspace button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 480px) {
  .section-ourspace {
    margin-top: 10%;
  }
  .check-availability {
    margin-top: 8%;
    width: 100%;
    height: 100vh;
  }
  .ourspace-carousel {
    display: block;
    width: 100%;
  }
  .custom-office {
    padding-top: 8%;
  }
  .private-space {
    margin-top: 16.5%;
  }
  .private-space h6 {
    margin-top: 17%;
  }
}
.check-availability .private-space {
  background: #10375c4d;
}

.check-availability {
  font-family: "Lora", serif;
  position: relative;
  color: #fff;
  background: #10375c;
}

.private-space h6 {
  position: absolute;
  display: flex;
  padding: 20px;
  background: #ff5722;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.private-space h6 span {
  font-size: 28px;
  line-height: 22px;
}
@media (min-width: 720px) {
  .check-availability img {
    margin-left: 70%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
  }
  .check-availability {
    width: 30%;
  }

  .private-space {
    margin-top: 10%;
    position: absolute;
    display: block;
    justify-content: center;
    text-align: center;
    /* padding-top: 40%; */
  }
  .private-space h6 {
    margin-top: 36%;
  }
  .check-availability .private-space h3 {
    overflow: hidden;
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 41px;
    color: #ffffff;
  }

  .check-availability .private-space p {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-top: 5%;
    color: #ffffff;
  }
}

.section-ourspace {
  position: relative;
  width: 100%;
  padding-top: 18%;
}

.ourspace {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.ourspace .left {
  margin-right: 4%;
}
.ourspace .left h2 {
  overflow: hidden;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 51px;
  color: #10375c;
}

.ourspace .center p {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}

.ourspace-carousel {
  position: relative;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 1.5%;
  justify-content: center;
  padding-top: 2%;
}

.ourspace-carousel .working-withteam,
.ourspace-carousel .custom-office {
  position: relative;
}

.ourspace-carousel .working-withteam span,
.ourspace-carousel .custom-office span {
  position: absolute;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  font-weight: 800;
  color: #fff;
  top: 347.4px;
  background: #ff5722;
}

.ourspace-carousel .working-withteam p,
.ourspace-carousel .custom-office p {
  margin-top: 16px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222831;
}

@media (max-width: 480px) {
  .section-whyfrispes {
    display: block;
    width: 100%;
  }
  .section-whyfrispes .row .left,
  .section-whyfrispes .row .right {
    width: 100%;
  }
  .left .whyfrispes-content {
    gap: 15px;
  }
  .right .whyfrispes-rightcontent {
    display: block;
    width: 100%;
    height: 150vh;
    justify-content: center;
    text-align: justify;
    overflow: scroll;
  }
  .right .whyfrispes-rightcontent h3 {
    font-size: 22px;
    text-align: center;
  }
}

.section-whyfrispes {
  position: relative;
  padding-top: 15%;
}
@media (min-width: 720px) {
  .left .whyfrispes-content {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    margin: 5%;
    gap: 15px;
  }
}
.meeting-rooms .valign-wrapper img,
.event-spaces .valign-wrapper img,
.countries .valign-wrapper img,
.internet-speed .valign-wrapper img,
.startup-mentors .valign-wrapper img,
.communities-inside .valign-wrapper img {
  display: flex;
  flex-direction: column;
}

.meeting-rooms .valign-wrapper h3,
.event-spaces .valign-wrapper h3,
.countries .valign-wrapper h3,
.internet-speed .valign-wrapper h3,
.startup-mentors .valign-wrapper h3,
.communities-inside .valign-wrapper h3 {
  display: flex;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #10375c;
}

.meeting-rooms .valign-wrapper p,
.event-spaces .valign-wrapper p,
.countries .valign-wrapper p,
.internet-speed .valign-wrapper p,
.startup-mentors .valign-wrapper p,
.communities-inside .valign-wrapper p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.whyfrispes-explained {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #10375c;
  justify-content: center;
  text-align: justify;
  width: 95%;
  padding: 15px;
}

.whyfrispes-rightcontent h6,
.whyfrispes-rightcontent p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.whyfrispes-title {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 51px;
  color: #ffffff;
}
.whyfrispes-rightcontent p {
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
}

.whyfrispes-rightcontent .intro-title::before {
  background-color: #fff;
  display: flex;
  margin-top: -15px;
  margin-left: 95px;
}

.section-ourfacilities {
  position: relative;
  padding-top: 10%;
}
@media (max-width: 480px) {
  .section-ourfacilities {
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .ourfacilities-heading h2 {
    text-align: center;
    font-size: 24px;
  }
}
.ourfacilities-heading {
  display: block;
  text-align: justify;
  width: 45%;
}

.ourfacilities-heading p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}

.ourfacilities-heading .intro-title::before {
  display: flex;
  margin-top: -18px;
  margin-left: 120px;
}
@media (min-width: 720px) {
  .ourfacilities-heading h2 {
    font-size: 40px;
    line-height: 51px;
  }
}
.ourfacilities-heading h2 {
  width: 100%;
  margin-top: 24px;
  color: #10375c;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
}

.ourfacilities-package {
  display: flex;
  flex-wrap: wrap;
}

.package-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parking,
.cofyspaces,
.cafe,
.child,
.outdoor {
  padding: 20px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  text-align: start;
}

.section-gallery {
  position: relative;
  display: flex;
  padding-top: 60px;
  gap: 20px;
  /* margin: 2%; */
  /* width: 1624px;
  height: 606px; */
  justify-content: space-between;
  /* left: -100px; */
  /* top: 3187px; */
  width: 100%;
  bottom: 0;
}

@media (max-width: 480px) {
  .frispes-gallery {
    width: 100%;
  }
  .frispes-gallery p {
    font-size: 16px;
  }
  .frispes-gallery h2 {
    font-size: 12px;
  }
  .section-gallery .gallery1 img {
    margin-top: 100px;
  }

  .section-gallery .gallery2 img {
    margin-top: 70px;
  }

  .section-gallery .gallery3 img {
    margin-top: 100px;
  }

  .section-gallery .gallery4 img {
    margin-top: 100px;
  }
}

@media (min-width: 720px) {
  .section-gallery .gallery1 img {
    margin-top: 240px;
  }

  .section-gallery .gallery2 img {
    margin-top: 70px;
  }

  .section-gallery .gallery3 img {
    margin-top: 300px;
  }

  .section-gallery .gallery4 img {
    margin-top: 300px;
  }
  .frispes-gallery h2 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
  }
  .frispes-gallery p {
    font-size: 20px;
    line-height: 30px;
  }
}
.frispes-gallery p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #222831;
}
.frispes-gallery h2 {
  font-family: "Lora", serif;
  font-style: normal;
  color: #10375c;
}
.frispes-gallery {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  right: 0;
}

.frispes-gallery .intro-title::before {
  margin-left: 140px;
  margin-top: -16px;
}
.frispes-gallery p,
.frispes-gallery h2 {
  overflow: hidden;
}

.frispes-users {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
}

.frispesuser-head {
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.frispes-users h2 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #0d2c4a;
}

.frispes-users p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-top: 15px;
  color: #9a9a9a;
}

.frispesusers-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5%;
  padding-top: 4%;
}

@media (max-width: 480px) {
  .section-reviews {
    width: 100%;
  }
  .reviews-heading h2 {
    width: 100%;
  }
  .reviews-heading p {
    justify-content: left;
    text-align: left;
  }
  .reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .individual-reviews {
    margin-top: 15px;
  }
}
.section-reviews {
  position: relative;
  width: 100%;
  padding-top: 10%;
}
@media (min-width: 720px) {
  .reviews-heading {
    width: 40%;
  }
  .reviews {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    margin-top: 5%;
  }
}

.reviews-heading p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #222831;
}

.reviews-heading h2 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
  padding-top: 15px;
}

.reviews-heading .intro-title::before {
  margin-left: 70px;
  margin-top: -15px;
}

.individual-reviews {
  position: relative;
  background: #10375c;
  padding: 15% 8% 20%;
}

.reviews-comment {
  display: inline-block;
  justify-content: start;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.customer-infodetails {
  position: absolute;
  display: flex;
  bottom: 0;
  padding-bottom: 10px;
  color: #ffffff;
}

.customer-infodetails .right .valign-wrapper h6,
.customer-infodetails .right .valign-wrapper small {
  width: max-content;
  color: #ffff;
  margin-top: 4px;
  font-size: 16px;
  display: flex;
  font-family: "Lato", sans-serif;
}

.customer-infodetails .right .valign-wrapper small {
  margin-top: -28px;
}

.section-helpcenter {
  position: relative;
  padding-top: 10%;
  width: 100%;
}

.helpcenter-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.helpcenter-heading h2 {
  font-family: "Lora", serif;
  font-weight: bold;
  color: #10375c;
}
@media (min-width: 720px) {
  .helpcenter-heading h2 {
    width: 45%;
    text-align: center;
    font-size: 40px;
    line-height: 51px;
  }
}

@media (max-width: 480px) {
  .header-questions {
    display: block;
    gap: 2%;
    margin-top: 5%;
  }

  .helpcenter-heading h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
}

.helpcenter-questions {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin-top: 5%;
}

.spaceavail-questions,
.bookspace-questions,
.reviewswork-questions {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 5% 8% 5%;
  background: #ffffff;
  box-shadow: 2px 10px 40px 50px rgba(239, 241, 250, 0.4);
  z-index: 1;
}
.bookspace-questions {
  background: #ff5722;
}

.spaceavail-questions h4,
.bookspace-questions h4,
.reviewswork-questions h4 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

.bookspace-questions h4 {
  color: #fff;
}

.spaceavail-questions span,
.bookspace-questions span,
.reviewswork-questions span {
  position: absolute;
  font-family: "Lato", sans-serif;
  font-size: 28px;
  padding: 10px;
  font-weight: 700;
  color: #fff;
  background: #ff5722;
  transform: rotate(90deg);
}
.bookspace-questions span,
.reviewswork-questions span {
  margin-top: 30px;
}

.bookspace-questions span {
  color: #ff5722;
  background-color: #fff;
}

.more-questionsbtn {
  padding-top: 15%;
  display: flex;
  justify-content: center;
}

.more-questionsbtn button,
.see-morebtn button {
  display: flex;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  background-color: inherit;
  color: #ff5722;
  border: none;
  outline: none;
  cursor: pointer;
}

.more-questionsbtn button span,
.see-morebtn button span {
  font-size: 28px;
  margin-left: 15px;
}

.section-events {
  position: relative;
  margin-top: 10%;
  width: 100%;
  background: #f8f8f8;
}

.events-heading {
  display: flex;
  width: 100%;
}
@media (max-width: 480px) {
  .events-heading {
    width: 100%;
    font-size: 18px;
  }
  .see-morebtn {
    display: flex;
    width: 100%;
  }
  .events-content {
    display: block;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .events-heading h2 {
    width: 80%;
    font-size: 40px;
    line-height: 51px;
  }
}
.events-heading h2 {
  padding-left: 5%;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  color: #10375c;
}

.see-morebtn {
  display: flex;
  width: 20%;
  color: #ff5722;
  background-color: inherit;
  border: none;
  outline: none;
  justify-content: center;
  /* text-align: center; */
}
@media (min-width: 720px) {
  .events-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 4%;
    padding-top: 5%;
    z-index: 1;
  }
}
.events-content {
  box-shadow: 2px 10px 40px 50px rgba(239, 241, 250, 0.4);
}

.google-update {
  display: flex;
  flex-direction: row;
  width: 60%;
  background-color: #fff;
}

.google-news {
  width: 50%;
  margin: 0% 1% 0%;
}

.google-news h3 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
}

.google-news p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-top: 15px;
  color: #9a9a9a;
}

.google-news img {
  /* position: absolute; */
  margin-top: 20px;
}
.ceoinfo {
  position: absolute;
  /* height: 35px; */
  display: grid;
  gap: 20px;
}

.ceoinfo h5,
.ceoinfo small {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin-top: -50px;
  margin-left: 75px;
  font-weight: 400;
}

.ceoinfo h5 {
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
}

.ceoinfo small {
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

@media (min-width: 720px) {
  .minimal-workspace {
    width: 30%;
  }
  .events-sec-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 9%;
    background-color: #fff;
  }
}

@media (max-width: 480px) {
  .minimal-workspace {
    margin-top: 20%;
    width: 100%;
  }

  .minimal-workspace img {
    width: 100%;
  }
  .events-sec-section {
    display: block;
    margin-top: 2%;
  }
  .remotely,
  .mrng-routine,
  .co-workingspace {
    margin-top: 10%;
  }
}

.events-sec-section {
  width: 100%;
  gap: 2%;
  background-color: #fff;
}

.minimal-workspace h6,
.remotely h6,
.mrng-routine h6,
.co-workingspace h6 {
  /* width: 318px; */
  /* height: 56px; */
  margin-left: 31px;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  margin-top: 14px;
  line-height: 28px;
  color: #222831;
}

.minimal-workspace p,
.remotely p,
.mrng-routine p,
.co-workingspace p {
  /* width: 128px;
  height: 26px;
  left: 41px; */
  margin-top: -50px;
  margin-left: 31px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.remotely {
  /* left: 235px;
  top: 556px; */
}

.mrng-routine {
  /* top: 556px;
  left: 615px; */
}

.co-workingspace {
  /* top: 556px;
  left: 1008px; */
}
@media (max-width: 480px) {
  .become-member {
    font-size: 12px;
    justify-content: center;
    text-align: center;
  }
  .become-member .left {
    width: 100%;
  }

  .become-member .right {
    width: 0%;
    visibility: hidden;
  }
  .become-member .row .left .valign-wrapper .intro-title::before {
    visibility: hidden;
  }
  .become-member .row .left .valign-wrapper #sign-up {
    margin-top: 15px;
  }
}

.become-member {
  position: relative;
  margin-top: 10%;
  width: 100%;
  padding: 8% 5% 14%;
  background: #10375c;
}

.become-member .row .left .valign-wrapper p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #f8f8f8;
}

.become-member .row .left .valign-wrapper .intro-title::before {
  background-color: #fff;
  margin-top: -15px;
}

.become-member .row .left .valign-wrapper h2 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #ffffff;
}
.become-member .row .left .valign-wrapper #sign-up {
  text-align: center;
  width: 40%;
  padding: 1% 0% 1%;
  border: none;
  outline: none;
  background: #ff5722;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.become-member .row .right .valign-wrapper img {
  position: absolute;
  display: flex;
  top: 0;
}

@media (max-width: 480px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin-top: 1%;
  }
}
/* default */
.footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: fit-content;
  bottom: 0;
  padding: 2% 4% 0% 8%;
  margin-top: 10%;
  background: #0d2c4a;
  color: #fff;
}

.footer-content p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.5;
}
.footer-content span {
  display: block;
  height: 26px;
  margin-top: 20px;
  justify-content: start;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.footer-contentintro h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  color: #ffffff;
}

.footer-contentintro p {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  color: #f8f8f8;
  opacity: 0.85;
}
.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.section-footer {
  padding-top: 5%;
  width: 100%;
}
/* breakpoint 720px */
@media (min-width: 720px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 40px;
    width: 100%;
  }

  .footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: 10px; */
    width: 70%;
    padding-right: 10%;
  }

  .footer-contactus {
    margin-right: 10%;
  }
}
